body {
  background-color: rgba(255, 255, 255, 0.808);
  font-family: 'Montserrat', sans-serif;
  margin-left: 20px;
}

.btn{
  border-radius: 5px;
  border: none;
  margin-top: 5px;
  margin-left: 10px;
  padding: 10px;
  background: #3fafd7;
  color: white;
  width: 100px;
  display: inline-block;
}

h2{
  margin-left: 20px;
  color: #3fafd7
}

li{
  list-style-type: none;
}

ul{
  margin-left: 20px;
  line-height: 20px;
}

ul strong{
  color: #3fafd7;
}

input{
  margin-bottom: 10px;
  border: 0;
  border-bottom: 2px solid #AAA;
  font-size: 20px;
  width: 80%;
}